.CookiesPageContainer {
  text-align: center;
  min-height: calc(100vh - 280px);
}

.CookiesPageText {
  text-align: justify;
  max-width: 90%;
  margin: 0 auto;
}

.CookiesPageText > div {
  margin: 30px 0;
}

@media screen and (min-width: 991px) {
  .CookiesPageText {
    max-width: 50%;
  }
}