.HomeGlCanvasContainer {
    height: calc(100vh - 400px);
    width: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HomeGlCanvas {
    width: 50%;
    height: 80%;
    display: block;
}

.DelayedAnim {
    animation: fadeIn 2s;
}

@media (max-width: 991px) {
    .HomeGlCanvasContainer {
        width: 80%;
    }

    .HomeGlCanvas {
        width: 100%;
        height: 80%;
        display: block;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}