.InfoContainer {
    max-width: 85%;
    margin: 30px auto;
}

.InfoContainerTitle {
    margin-bottom: 20px;
}

@media screen and (min-width: 991px) {
    .InfoContainer {
        max-width: 70%;
        margin: 50px auto;
    }

    .InfoContainerTitle {
        margin-bottom: 35px;
    }
}

.InfoContainerBody {
    text-align: justify;
}
